# Download Kaggle Dataset

### Install Kaggle API

In [2]:
pip install Kaggle

Collecting Kaggle
  Downloading kaggle-1.5.12.tar.gz (58 kB)
     |████████████████████████████████| 58 kB 274 kB/s eta 0:00:011
Requirement already satisfied: six>=1.10 in /Users/christineezeogu/opt/anaconda3/lib/python3.9/site-packages (from Kaggle) (1.16.0)
Requirement already satisfied: certifi in /Users/christineezeogu/opt/anaconda3/lib/python3.9/site-packages (from Kaggle) (2021.10.8)
Requirement already satisfied: python-dateutil in /Users/christineezeogu/opt/anaconda3/lib/python3.9/site-packages (from Kaggle) (2.8.2)
Requirement already satisfied: requests in /Users/christineezeogu/opt/anaconda3/lib/python3.9/site-packages (from Kaggle) (2.26.0)
Requirement already satisfied: tqdm in /Users/christineezeogu/opt/anaconda3/lib/python3.9/site-packages (from Kaggle) (4.62.3)
Requirement already satisfied: python-slugify in /Users/christineezeogu/opt/anaconda3/lib/python3.9/site-packages (from Kaggle) (5.0.2)
Requirement already satisfied: urllib3 in /Users/christineezeogu/opt/anaconda3/lib/python3.9/site-packages (from Kaggle) (1.26.7)
Requirement already satisfied: text-unidecode>=1.3 in /Users/christineezeogu/opt/anaconda3/lib/python3.9/site-packages (from python-slugify->Kaggle) (1.3)
Requirement already satisfied: charset-normalizer~=2.0.0 in /Users/christineezeogu/opt/anaconda3/lib/python3.9/site-packages (from requests->Kaggle) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in /Users/christineezeogu/opt/anaconda3/lib/python3.9/site-packages (from requests->Kaggle) (3.2)
Building wheels for collected packages: Kaggle
  Building wheel for Kaggle (setup.py) ... done
  Created wheel for Kaggle: filename=kaggle-1.5.12-py3-none-any.whl size=73051 sha256=86ae9ae7e2222b66a84b9f69c0a5ffd422dc7f68970717d2913c4da2ee5fc645
  Stored in directory: /Users/christineezeogu/Library/Caches/pip/wheels/ac/b2/c3/fa4706d469b5879105991d1c8be9a3c2ef329ba9fe2ce5085e
Successfully built Kaggle
Installing collected packages: Kaggle
Successfully installed Kaggle-1.5.12
Note: you may need to restart the kernel to use updated packages.

### Go to https://www.kaggle.com/docs/api - download API key and dataset

In [5]:
!mkdir ~/.kaggle

mkdir: /Users/christineezeogu/.kaggle: File exists

In [9]:
!cp /Users/christineezeogu/Downloads/kaggle.json /Users/christineezeogu/.kaggle/kaggle.json

In [11]:
import kaggle

Warning: Your Kaggle API key is readable by other users on this system! To fix this, you can run 'chmod 600 /Users/christineezeogu/.kaggle/kaggle.json'

In [12]:
!kaggle datasets download -d pranavsai98/predicting-employee-status

Warning: Your Kaggle API key is readable by other users on this system! To fix this, you can run 'chmod 600 /Users/christineezeogu/.kaggle/kaggle.json'
Downloading predicting-employee-status.zip to /Users/christineezeogu/Desktop/Captsone Project/Employee Attrition/Project
100%|█████████████████████████████████████████| 263k/263k [00:00<00:00, 543kB/s]
100%|█████████████████████████████████████████| 263k/263k [00:00<00:00, 542kB/s]

### Extract the folder

In [13]:
from zipfile import ZipFile

In [15]:
file_name = 'predicting-employee-status.zip'
with ZipFile(file_name, 'r') as zip:
    zip.extractall()
    print('Done')

Done

### Load and read in the data

In [16]:
import pandas as pd

In [18]:
data = pd.read_csv('employee_data (1).csv')

In [19]:
data.head()

,avg_monthly_hrs,department,filed_complaint,last_evaluation,n_projects,recently_promoted,salary,satisfaction,status,tenure
0,221,engineering,NaN,0.932868,4,NaN,low,0.829896,Left,5.0
1,232,support,NaN,NaN,3,NaN,low,0.834544,Employed,2.0
2,184,sales,NaN,0.788830,3,NaN,medium,0.834988,Employed,3.0
3,206,sales,NaN,0.575688,4,NaN,low,0.424764,Employed,2.0
4,249,sales,NaN,0.845217,3,NaN,low,0.779043,Employed,3.0

### Save the dataset

In [20]:
data.to_csv('employee_data.csv')

## Create, Save data dictionary to csv & Read in the csv

In [1]:
import pandas as pd
import csv

In [2]:
# Create  list of columns names
column_names = ['Heading', 'Description']

# Create list of python dictionary
data_description = [
{'Heading': 'status', 'Description': 'Current employment status (Employed / Left)'},
{'Heading': 'department', 'Description': 'Department employees belong(ed) to'},
{'Heading': 'salary', 'Description': 'Salary level relative to rest of their department'},
{'Heading': 'tenure', 'Description': 'Number of years at the company'},    
{'Heading': 'recently_promoted', 'Description': 'Was the employee promoted in the last 3 years?'},
{'Heading': 'n_projects', 'Description': 'Number of projects employee is staffed on'},   
{'Heading': 'avg_monthly_hrs', 'Description': 'Average number of hours worked per month'},    
{'Heading': 'satisfaction', 'Description': 'Score for employee’s satisfaction with the company (higher is better)'},   
{'Heading': 'last_evaluation', 'Description': 'Score for most recent evaluation of employee (higher is better)'},   
{'Heading': 'filed_complaint', 'Description': 'Has the employee filed a formal complaint in the last 3 years?'}
]

In [4]:
# The writeheader() method writes the first line in the csv file as the column names. 
# The 'for loop' writes each row in csv form to the csv file.

csv_file = "data_dict.csv"
try:
    with open(csv_file, 'w') as csvfile:
        writer = csv.DictWriter(csvfile, fieldnames=column_names)
        writer.writeheader()
        for data in data_description:
            writer.writerow(data)
except IOError:
    print("I/O error")

#### Read in the data Dictionary

In [6]:
# untruncate the Description column using the set_option method
pd.set_option('display.max_colwidth', None)
pd.read_csv("data_dict.csv", index_col = "Heading")

                                                                             Description
Heading
status                                       Current employment status (Employed / Left)
department                                            Department employees belong(ed) to
salary                                 Salary level relative to rest of their department
tenure                                                    Number of years at the company
recently_promoted                         Was the employee promoted in the last 3 years?
n_projects                                     Number of projects employee is staffed on
avg_monthly_hrs                                 Average number of hours worked per month
satisfaction       Score for employee’s satisfaction with the company (higher is better)
last_evaluation          Score for most recent evaluation of employee (higher is better)
filed_complaint           Has the employee filed a formal complaint in the last 3 years?